<div class="container mt-5">
    <p class="text-center">Trending</p>
    <h3 class="text-center">Hot Properties</h3>
  <div class="row">
        <div class="col-sm-3 ml-3">
      <p class="text-center">Property Tittle</p>
      <div class="card" style="width: 18rem;">

        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 ml-5">
      <p>data</p>
      <div class="card" style="width: 18rem;">

        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 ml-5">
      <p>data</p>
      <div class="card" style="width: 18rem;">

        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    

    <!-- <div class="property-listing-box sale-block">
      <div class="property-main-box">
        <div class="col-md-4 p_z">
          <a title="Property Image" href="/home/pd/pid/Ng=="><img style="width:255px;height:162px;" src="/uploads/propertys/6/orginal/104_file1.28" alt="Sale"></a>
        </div>
        <div class="col-md-8 p_z">
          <div class="property-details">
            <span>s</span>
            <a title="Property Title" href="/home/pd/pid/Ng==">crescent city</a>
            <h4><i class="fa fa-inr"></i>&nbsp;15,00,000</h4>
            <ul>
              <li><i class="fa fa-expand"></i>North/East Facing</li>
              
                          
            </ul>
          </div>
        </div>
      </div> -->
  </div>
</div>