
<div class="about">
  <img src="assets/banner.jpg" class="about_img img-responsive" alt="banner">
  <div class="page-title">
    <div class="container">
      <div class="banner-inner">
        <p class="text-center">About Us</p>
      </div>
    </div>
    <div class="pages-breadcrumb">
      <div class="container navig">
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li><a routerLink="/">Home</a></li> | 
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container m-0 ml-5 mt-5">
  <div class="">
    <div class="row">
      <div class="col-md-10">
        <h3>About Us</h3>
        <div>
          <p>{{aboutUs}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <form>
          <div class="backcolor" style="width: 24rem;">
            
            <div class='text-center'>

              <h4>QUICK SEARCH</h4>
              <h3>PROPERTY</h3>
            
            <br>
            <select class="select_class ">
              <option value="">Select Property Type</option>
                <option value="6">Agriculture Land</option>
            </select>
            <select class="select_class ">
              <option value="">Select District/City</option>
              <option value="4">Anantapur</option>
            </select>
          
          
            <div class="dropdown">

             <select class=" select_class ">
                <option value="">Min Price</option>
                <option value="500000">5 Lac</option>
            </select>
             
              &nbsp;
              <select class=" select_class ">
                  <option value="">Max Price</option>
                <option value="500000">5 Lac</option>
              </select>
              </div>
              <button class="btn btn-success">submit</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>